<ion-card class="shoe-box-shadow">
    <ion-item style="--border-style: none !important;">
        <ion-label slot="start" style="overflow:visible;font-size: 12px;">{{shoe.name}}</ion-label>
    </ion-item>

    <ion-card-content>
        <img [src]="shoe.photo" />
    </ion-card-content>
    <ion-item style="--border-style: none !important;">
        <ion-label slot="start">{{shoe.price}}</ion-label>
        <ion-button fill="clear" slot="end" color="dark">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </ion-item>
</ion-card>