.shoe-box-shadow {
    -webkit-box-shadow: 0px -1px 61px 11px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px -1px 61px 11px rgba(0, 0, 0, 0.13);
    box-shadow: 0px -1px 61px 11px rgba(0, 0, 0, 0.13);
}