<ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
        <ion-searchbar animated placeholder="Rechercher"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
</ion-content>