<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Recherche
        </ion-title>

    </ion-toolbar>
    <ion-searchbar animated placeholder="Rechercher"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">


    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
    <app-shoe-container [shoe]="shoe" (click)="showDetail()"></app-shoe-container>
</ion-content>